body {
    background-color: #E6E6E6;
}

p {
    font-family: Abel, sans-serif;
}

ul {
    font-family: Abel, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Anton, sans-serif;
}

.xs-top-nav {
    display: flex;
    justify-content: center;
}

.xs-logo-bg {
    background-color: #F0F0F0;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xs-logo {
    height: 105px;
    width: 105px;
}

.xs-top-nav div:nth-of-type(2) p{
    font-size: 220%;
}

.xs-top-nav div:nth-of-type(3) {
    display: flex;
    justify-content: center;
}

.xs-top-nav div:nth-of-type(3) ul{
    width: 70%;
    font-size: 80%;
}

.xs-top-nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.xs-top-nav div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.xs-top-nav div:nth-of-type(4) h1{
    text-align: center;
    padding: .2em;
    margin-bottom: 1em;
}

.xs-top-nav div:nth-of-type(5) h3{
    margin-bottom: 1em;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F0F0F0;
    border: 6px solid #F0F0F0;
    border-radius: 50%;
    height: 105px;
    width: 105px;
    margin: .5em;
}

.button h4 {
    margin: 0;
}

.btn-red {
    background-color: #E6563B;
    font-size: .6em;
    padding-top: .5em;
    padding-right: .04em;
}

.btn-orange {
    background-color: #EB9D3A;
    font-size: .6em;
    padding-top: .5em;
    padding-right: .04em;
}

.btn-green {
    background-color: #7CB06C;
    font-size: .6em;
    padding-top: .5em;
    padding-right: .04em;
}

.btn-blue {
    background-color: #00ABA9;
    font-size: .6em;
    padding-top: .5em;
    padding-right: .04em;
}

.work {
    margin-top: 5em;
    text-align: center;
}

.icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 .2em;
}

.bottom-container {
    margin: 0;
    padding: 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.projects p {
    margin-right: auto;
    font-size: smaller;
}

.proj-img {
    width: 98%;
    height: 77%;
    border: 8px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: .5em;
}

.news-bar {
    padding-left: 3em;
}

.news {
    padding-top: .5em;
    margin-bottom: 1em;
}

.news h6 {
    padding-left: 5px;
    line-height: 25px;
    margin-bottom: 0;
}

.news-img {
    margin: 0;
    padding: 0;
    height: 50px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}

.twitter-logo {
    color: #1DA1F2;
    margin-right: .5em;
}

.tweet {
    margin-top: 3em;
    line-height: 1.2;
}

.tweet p {
    padding-right: 1em;
}

@media screen and (max-width:425px) {
    .divider {
        display: none;
    }
    .macbook {
        display: none;
    }
    .man {
        display: none;
    }
    .security {
        display: none;
    }
}

@media screen and (min-width:576px) {
    .xs-top-nav>div:nth-of-type(3) {
        position: absolute;
        top: 3.5em;
        display: flex;
    }
    .xs-top-nav>div:nth-of-type(3) ul {
        text-align: center;
    }
    .xs-top-nav>div:nth-of-type(3) li:nth-of-type(2) {
        flex-grow: 1;
        padding-right: 9em;
    }
    .xs-top-nav>div:nth-of-type(3) li:nth-of-type(3) {
        flex-grow: 1;
    }
    .xs-top-nav div:nth-of-type(4) h1{
        padding: 0;
        margin-bottom: .6em;
    }
    .button {
        margin-left: .1em;
        margin-right: .1em;
    }
    hr.divider {
        width: 75%;
    }
    .work {
        margin-top: 2em;
    }
}

@media screen and (max-width:767px) {
    .news-bar {
        display: none;
    }
    .med-ul {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .button {
        margin-left: 1em;
        margin-right: 1em;
    }

    hr.divider {
        width: 100%;
    }

    .work {
        text-align: left;
    }

    .xs-logo-bg {
        justify-content: flex-start;
        align-items: center;
    }

    .xs-top-nav > div:nth-of-type(3) {
        position: absolute;
        top: 3.5em;
        display: flex;
        justify-content: space-evenly;
    }

    .xs-top-nav > div:nth-of-type(3) ul {
        text-align: center;
    }

    .xs-top-nav > div:nth-of-type(3) li:nth-of-type(2) {
        flex-grow: 0;
        padding-right: 0;
    }

    .xs-top-nav > div:nth-of-type(3) li:nth-of-type(3) {
        flex-grow: 0;
    }

    .xs-top-nav > div:nth-of-type(2) {
        position: absolute;
        top: 2.5em;
        display: flex;
        justify-content: flex-start;
    }

    .xs-top-nav > div:nth-of-type(2) > p {
        margin-left: 3.2em;
    }
}